extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Dashboard'
	- var description = 'Description for home page'
	- var bodyclass = 'dashboard'

block body
	h1 tran quoc trung
