extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.home-slider
		.owl-carousel.owl-theme
			.item
				img(src="./img/home_slider_1.png", alt="")
				.title
					.container
						.row
							.col.text-center
								h2 Chúng Tôi Là Thiên Phúc
								p Chúng Tôi Dịch Vụ Uy Tính Chất Lượng Với Nhiều Năm Kinh Nghiệm Trong Lĩnh Vực Cung Cấp Các Bằng Và Chứng Chỉ . Sẽ Tạo Ra Cho Các Bạn 1 Bằng Như Thật 100% Có Tem BGD Và Dấu Đóng Sống. 
			.item
				img(src="./img/home_slider_2.png", alt="")
				.title
					.container
						.row
							.col.text-center
								h2 Chúng Tôi Là Thiên Phúc
								p Chúng Tôi Dịch Vụ Uy Tính Chất Lượng Với Nhiều Năm Kinh Nghiệm Trong Lĩnh Vực Cung Cấp Các Bằng Và Chứng Chỉ . Sẽ Tạo Ra Cho Các Bạn 1 Bằng Như Thật 100% Có Tem BGD Và Dấu Đóng Sống. 
			.item
				img(src="./img/home_slider_3.png", alt="")
	section.home-news
		.container
			.row
				.col
					h1.text-center.mb-5 LÀM BẰNG ĐẠI HỌC
			.row
				.col-md-4.item
					figure
						.blockimg
							img(src="./img/home_news_1.jpg", alt="", srcset="")
						figcaption
							h3 
								a(href="./bangdaihoc.html") Bằng Đại Học
							p Có Tất Cả Mẫu Về Bằng Đại Học Các Trường Trên Cả Nước Các Ngành Nghề Bạn Mong Muốn ! 
				.col-md-4.item
					figure
						.blockimg
							img(src="./img/home_news_2.jpg", alt="", srcset="")
						figcaption
							h3 
								a(href="./bangcaodang.hmtl") Bằng Cao Đẳng
							p Có Tất Cả Mẫu Về Bằng Cao Đẳng Các Trường Trên Cả Nước Các Ngành Nghề Bạn Mong Muốn !
				.col-md-4.item
					figure
						.blockimg
							img(src="./img/home_news_3.jpg", alt="", srcset="")
						figcaption
							h3 
								a(href="./bangphothong.html") Bằng Trung Học Phổ Thông
							p Có Tất Cả Mẫu Trường Trung Học Phổ Thông Và Học Bạ Cấp 3 Nếu Bạn Yêu Cầu !
	section.home-clients.mt-5
		.container
			.row
				.col
					h2.text-center CÁC CHỨNG CHỈ KHÁC 
			.row
				.col
					.owl-carousel.owl-theme
						- for(x=1;x<10;x++)
							.item
								if (x < 8)
									img(src="./img/clients_"+x+".png", alt="")
								else
									img(src="./img/clients_"+(x-3)+".png", alt="")
