/////////////////////////////////
// Phần Slider
/////////////////////////////////
.home-slider
	.owl-carousel
		// Phần Slider
		.item
			position: relative
			filter: grayscale(50%)
			.title
				+pad(1rem 0)
			+media-breakpoint-up(md)
				.title
					+pos(abs, null 0 0 null)
					color: $whites
					background-image: linear-gradient(to bottom right, transparent, #000000a6)
					width: 100%
					+text-shadow()
					h2
						+fz(2rem)
						color: white
					p 
						+fz(1rem)
						+lh(2rem)
						color: white
		// Phần Control
		.owl-dots
			margin-bottom: 2rem
/////////////////////////////////
// Phần News
/////////////////////////////////

.home-news
	h1
		color: red
		position: relative
		&:before
			display: block
			content: ''
			position: absolute
			height: .3rem
			width: 18rem
			background: darken(#fff,50%)
			left: 15%
			top: 110%
	+media-breakpoint-up(md)
		h1
			&:before
				height: .3rem
				width: 18rem
				background: darken(#fff,50%)
				left: 39%
				top: 110%
	.item 
		figure
			.blockimg
				+bor-rad(10px)
				overflow: hidden
				img
					width: 100%
			figcaption 
				margin-top: 1rem
				h3 
					+fz(1.1rem)
					margin-bottom: 0
					a
						text-decoration: none
						transition: .5s all ease-in-out
						&:hover,&:active
							color: red

				time 
					+fz(.85rem)
					color: darken($whites,30%)
				p 
					margin-top: .5rem
					color: darken($whites,50%)
/////////////////////////////////
// Phần News
/////////////////////////////////

.home-clients
	h2
		color: red
		font-size: 2.2rem
	.owl-carousel
		.item 
			+pad(.5rem)
		// Phần Control
		.owl-nav
			margin-bottom: 2rem
			button 
				i 
					display: block
					width: 2rem
					height: 2rem
					+lh(2rem)
