<!-- ////////////// FOOTER ////////////// -->
footer.pt-4.my-md-5.border-top
	.container
		.row
			.col-12.col-md
				img.mb-2(src="./img/logo.png" alt="")
				small.d-block.mb-3.text-muted Copyright 2018 by 
					a(href='/') ThienPhu
			.col-6.col-md
				h5 Danh Sách Liên Quan
				ul.list-unstyled.text-small
					li.ab
						a(href="#") ĐẠI HỌC
					li.ab
						a(href="#") CAO ĐẲNG
					li.ab
						a(href="#") THPT
					
			.col-6.col-md
				h5 Liên Hệ Với Chúng Tôi
				ul.list-unstyled.text-small
					li
						i.fa.fa-phone-square
							a.ml-2(href="#") 0909333333
					li
						h6.mt-2 Zalo:
							a.ml-2(href="#") 0909333333
					li
						i.fa.fa-envelope 
							p thien.phu@gmail.com
						 
					
